<%- include ('./layouts/header') %>
<html>
    <body>
        <h2>Customers managing app sample</h2>
        	<div>
           		<button class="a-inside" onclick = location.href="../customers/">List of persons</button>
         	</div>
         	<div>
           		<button class="a-inside" onclick = location.href="../customers/add">Add a person</button>
         	</div>
    </body>
</html>